$primary-color: #444;

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: #fff;
    margin: 0;
    height: 100%;
    font-family: Asap, Jua, 'sans-serif';
    line-height: 1.5;
}